.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
/nbproject/
public/img/captcha/*
data/upload/*
data/image/*
data/video/*
public/video/*
public/audio/*
public/info.php